.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.banner {
  height: 540px;
  background: url('../images/index_banner.jpeg') center 100% / cover;
  height: 582px;
  @include pad {
    height: 560px;
  }
}

.second img {
  object-fit: cover;
  width: 100%;
  height: 420px;
}

.teacher img {
  width: 48px;
  height: 48px;
}

.teacher {
  .left {
    width: 100%;
    height: 628px;
    object-fit: cover;
  }
}

.space {
  .img-left img {
    width: 100%;
    object-fit: cover;
    height: 444px;
    @include pad {
      height: 266px;
    }
  }
  .img-right img {
    width: 100%;
    height: 207px;
    object-fit: cover;
    @include pad {
      height: 266px;
    }
  }
}

.mySwiper img {
  width: 100%;
  object-fit: cover;
  height: 445px;
}

.classes-list img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.booking {
  .card img {
    width: 100%;
    object-fit: cover;
    height: 297px;
    border-radius: 16px 16px 0 0;
    @include desktop-top {
      border-radius: 16px 0 0 16px;
    }
    @include pad {
      border-radius: 16px 16px 0 0;
    }
  }
}

.mySwiper_2 {
  height: 450px;
  img {
    width: 60px;
    height: 60px;
  }
  .swiper-button-next {
    top:90% !important;
    &::after {
      content: '';
    }
  }
  .swiper-button-prev {
    top:90% !important;
    &::after {
      content: '';
    }
  }
}
