.space-card {
  img {
    width: 100%;
    object-fit: cover;
    height: 350px;
    @include pad {
      height: 216px;
    }
  }
}

.mySwiper4 {

  img {
    width: 100%;
    height: 196px;
    object-fit: cover;
  }
}