.logo {
  width: 96px;
  height: 31px;
}
.icon {
  width: 24px;
  height: 24px;
}

.menu-icon span {
  width: 33px;
  border: 2px solid #907a7b;
}

.nav-button {
  border-radius: 16px;
}

img {
  display: block;
  max-width: 100%;
}

.nounderline {
  text-decoration: none !important;
}

.footer input {
  max-width: 278px;
}

.right-list {
  img {
    width: 48px;
    height: 48px;
  }
}

.z-2 {
    z-index: 2;
}
